.modal-container {
  background-color: rgba(240, 244, 252, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.modal-container.close {
  z-index: -1;
  opacity: 0;
}

.modal-content {
  box-sizing: border-box;
  width: 31.25rem;
  background-color: rgb(240, 244, 252);
  padding: 1.5rem;
  display: grid;
  gap: 0.25rem;
}
.modal-content .close {
  border-radius: 0.625rem;
  background-color: white;
  padding: 0.875rem;
  height: 24px;
  justify-self: end;
  cursor: pointer;
}
.modal-content .title {
  font-weight: 500;
  color: rgb(50, 50, 50);
  font-size: 1.5rem;
  margin-bottom: 0.875rem;
}
.modal-content button {
  padding: 1.125rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28.8px;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.modal-content button.sing-in {
  background-color: rgb(36, 76, 152);
  color: white;
}
.modal-content button.sing-up {
  border: solid 1px rgb(36, 76, 152);
  color: rgb(36, 76, 152);
}
.modal-content button:active {
  opacity: 0.95;
}

.inputs {
  display: grid;
  gap: 0.25rem;
}
.inputs input {
  border: none;
  outline: none;
  border-radius: 0.625rem;
  background-color: rgb(215, 226, 246);
  padding: 1.5rem;
  font-size: 1.125rem;
  font-family: inherit;
}
.inputs input::-moz-placeholder {
  color: rgb(31, 66, 132);
  font-weight: 500;
  font-size: 1.125rem;
}
.inputs input:-ms-input-placeholder {
  color: rgb(31, 66, 132);
  font-weight: 500;
  font-size: 1.125rem;
}
.inputs input::placeholder {
  color: rgb(31, 66, 132);
  font-weight: 500;
  font-size: 1.125rem;
}

.remember-password {
  margin: 1.25rem 0;
  font-size: 1.125rem;
}
.remember-password input {
  display: none;
}
.remember-password label {
  display: inline-flex;
  gap: 0.875rem;
  align-items: center;
  cursor: pointer;
}
.remember-password label .img-choice {
  border: solid 2px rgb(50, 50, 50);
  border-radius: 3px;
  box-sizing: border-box;
  height: 1.125rem;
  width: 1.125rem;
  transition: all 0.2s ease-in-out;
}
.remember-password input:checked + label .img-choice {
  background-color: rgb(31, 66, 132);
  border-color: rgb(31, 66, 132);
}

.recover {
  color: rgb(36, 76, 152);
  font-weight: 500;
  font-size: 1.25rem;
  cursor: pointer;
  justify-self: start;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .modal-content {
    width: auto;
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(235, 240, 250);
  border-radius: 0.25rem;
}

body {
  margin: 0;
  font-family: "Manrope";
}

main {
  margin: 2.25rem 2.5rem;
}
main section {
  display: flex;
  background-color: rgb(235, 240, 250);
  border-radius: 0.625rem;
  overflow: hidden;
  justify-content: space-between;
}

.content {
  display: grid;
  gap: 2.25rem;
  justify-items: start;
  padding: 6.375rem 4.5rem;
}
.content .title-and-description {
  display: grid;
  gap: 1.125rem;
  justify-items: start;
}
.content .title-and-description h1 {
  color: rgb(31, 66, 132);
  font-weight: 500;
  font-size: 1.875rem;
  margin: 0;
}
.content .title-and-description p {
  margin: 0;
  font-size: 17px;
  line-height: 27.2px;
  max-width: 31.875rem;
  color: rgb(114, 114, 114);
}
.content .try {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0.75rem;
  padding-left: 1.5rem;
  background-color: rgb(36, 76, 152);
  border: none;
  border-radius: 3.75rem;
  cursor: pointer;
  color: white;
  font-size: 1.125rem;
}
.content .try img {
  background-color: white;
  padding: 0.625rem;
  border-radius: 2.5rem;
}

.conrainer-img {
  width: 47.25vw;
  flex-shrink: 0;
  background-image: url("img/image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 1441px) {
  .content .title-and-description h1 {
    font-size: 1.625rem;
  }
}
@media (max-width: 1300px) {
  .content {
    padding: 5vw 1.5rem;
  }
}
@media (max-width: 1100px) {
  main {
    margin: 1.5rem;
  }
  main section {
    flex-direction: column;
  }
  .content {
    padding: 1.5rem;
    gap: 1.5rem;
  }
  .conrainer-img {
    height: 50vw;
    width: 100%;
  }
}
@media (max-width: 769px) {
  .content .title-and-description h1 {
    font-size: 1.25rem;
  }
  .content .title-and-description p {
    font-size: 15px;
    line-height: 24px;
  }
  .content button {
    gap: 19px;
    padding: 0.625rem;
    padding-left: 1.125rem;
    font-size: 15px;
  }
  .content button img {
    padding: 0.375rem;
  }
}
@media (max-width: 376px) {
  main {
    margin: 0.875rem 1.5rem;
  }
  main section {
    flex-direction: column;
  }
  .content {
    padding-bottom: 1.125rem;
    gap: 1.125rem;
  }
  .content .title-and-description h1 {
    font-size: 27px;
  }
  .content .title-and-description p {
    font-size: 13px;
    line-height: 20.8px;
  }
  .content button {
    font-size: 15px;
  }
  .conrainer-img {
    height: 60vw;
  }
}/*# sourceMappingURL=style.css.map */